.content {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 80%;
  background-color: var(--primary-backdround-color);
  color: var(--primary-color);
  filter: drop-shadow(0 0 50px var(--selected-color));
  &__full {
    width: 100%;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    filter: drop-shadow(0 0 100px var(--selected-color));
    span {
      color: var(--selected-color);
      font-family: Roboto bold;
    }
  }
  &__title {
    text-transform: uppercase;
    font-family: Roboto bold;

    font-size: 40px;
  }
  &__descr {
    font-size: 28px;
    font-family: Roboto bold;
  }
  &__photo {
    transform: translateX(-50%);
    text-align: center;
    border-radius: 100%;
    img {
      width: 100%;
    }
  }
  &__btn {
    margin-top: 15px;
    button {
      background-color: var(--btn-color);
      width: 200px;
      height: 50px;
      border-radius: 25px;
      text-transform: uppercase;
      font-family: Roboto bold;
    }
  }
  &__socials {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  &__social {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit !important;

    svg {
      color: var(--primary-color);
    }
    &_telegram,
    &_linkedin,
    &_whatsapp {
      &:hover {
        &::before {
          background-color: #136e9b;
        }
      }
      &::before {
        transition: all 0.5s;
        content: "";
        width: 50px;
        height: 50px;
        position: absolute;
        background-color: #0088cc;
        border-radius: 100%;
        z-index: -1;
        box-shadow: 5px 5px 5px rgb(39, 37, 37);
      }
    }
    &_linkedin {
      &:hover {
        &::before {
          background-color: #43699e;
        }
      }
      &::before {
        background-color: #183153;
      }
    }
    &_whatsapp {
      &:hover {
        &::before {
          background-color: #287a31;
        }
      }
      &::before {
        background-color: #32b341;
      }
    }
  }

  &__sticker {
    position: absolute;
    max-width: 50px;
    max-height: 50px;
    &:nth-child(1) {
      top: 15%;
      left: 20%;
      animation: pulse 3s infinite;
    }
    &:nth-child(2) {
      top: 5%;
      left: 30%;
      animation: pulse 4s infinite;
    }
    &:nth-child(3) {
      top: 15%;
      left: 40%;
      animation: pulse 5s infinite;
    }
    &:nth-child(4) {
      top: 5%;
      left: 50%;
      animation: pulse 4s infinite;
    }
    &:nth-child(5) {
      top: 15%;
      left: 60%;
      animation: pulse 3s infinite;
    }
    &:nth-child(6) {
      top: 90%;
      left: 20%;
    }
    &:nth-child(7) {
      top: 80%;
      left: 35%;
    }
    &:nth-child(8) {
      top: 90%;
      left: 50%;
    }
    &:nth-child(9) {
      top: 80%;
      left: 65%;
    }
  }
}
