@media (max-width: 1024px) {
  .content {
    min-height: 100vh;
    height: 100%;

    &__title {
      text-transform: uppercase;
      font-size: 32px;
    }
    &__descr {
      font-size: 24px;
      font-family: Roboto bold;
    }
  }
}

@media (max-width: 768px) {
  .content {
    background-color: var(--primary-backdround-color);
    flex-direction: column;
    justify-content: center;
    width: 100%;
    filter: inherit;

    &__wrapper {
      align-items: center;
    }
    &__title {
      display: none;
    }
    &__descr {
      font-size: 18px;
      font-family: Roboto bold;
      text-align: center;
    }
    &__photo {
      transform: translateX(0);
    }
    img {
      margin-top: 100px;
      width: 50%;
    }
    &__social {
      &_telegram {
        &:hover {
          &::before {
            background-color: #136e9b;
          }
        }
        &::before {
          background-color: #136e9b;
        }
      }
      &_linkedin {
        &:hover {
          &::before {
            background-color: #183153;
          }
        }
        &::before {
          background-color: #183153;
        }
      }
      &_whatsapp {
        &:hover {
          &::before {
            background-color: #32b341;
          }
        }
        &::before {
          background-color: #32b341;
        }
      }
    }
    &__btn {
      button {
        width: 150px;
        height: 35px;
        font-size: 10px;
      }
    }
  }
}

@media (max-width: 425px) {
  .content {
    &__wrapper {
      padding: 2%;
    }
    &__descr {
      font-size: 16px;
    }
  }
}

@media (max-width: 400px) {
  .content {
    &__descr {
      font-size: 12px;
    }
    img {
      margin-top: 150px;
      width: 50%;
    }
  }
}
