:root {
  --primary-color: #faffff;
  --secondary-color: #faffffc4;
  --hover-color: #9197e0;
  --selected-color: #559fff;
  --background-color-sidebar: #393e75;
  --primary-backdround-color: #1d1e33;
  --btn-color: #656cb9;
  --hover-btn-color: rgb(81, 111, 156);
}
