.skills {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  &__subheader {
    filter: drop-shadow(0 0 2px var(--selected-color));
    font-size: 20px;
    margin-top: 5%;
    font-family: Roboto Bold;
    text-transform: uppercase;
  }
  &__cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5% 0;
  }
  &__card {
    padding: 15px;
    width: 30%;
    height: 200px;
    max-height: 200px;
    box-shadow: 3px 5px 7px 3px var(--selected-color);
    margin: 15px;
    overflow: hidden;
    transition: all 0.5s;
    filter: drop-shadow(0 0 50px var(--selected-color));
    &-img {
      margin-bottom: 5px;
      max-width: 60px;
      max-height: 60px;
    }
    &:hover {
      box-shadow: 7px 7px 7px 7px var(--selected-color);
    }
    &-title {
      font-family: Roboto Bold;
      margin: 10px 0;
      font-size: 16px;
    }
    &-descr {
      font-size: 14px;
      color: #faffffc4;
    }
  }
}
